.about-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(45deg, rgb(194, 229, 156) 0.00%,rgb(56, 63, 68) 100.00%);
}
.about-link1 {
  display: contents;
}
.about-text10 {
  top: 26px;
  left: 21px;
  position: absolute;
  font-size: 100px;
  border-color: var(--dl-color-gray-black);
  border-style: ridge;
  border-width: 5px;
  border-radius: 25px;
  text-decoration: none;
}
.about-navlink1 {
  height: 81px;
  display: flex;
  font-size: 70px;
  box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
  font-style: italic;
  text-align: center;
  font-family: "Courier New";
  font-weight: 700;
  border-style: ridge;
  border-width: 2px;
  border-radius: 300px;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
}
.about-container2 {
  flex: 0 0 auto;
  width: auto;
  height: 81px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.about-button {
  width: 335px;
  height: 81px;
  display: flex;
  font-size: 70px;
  box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
  text-align: center;
  font-family: "Courier New";
  border-style: ridge;
  border-width: 2px;
  border-radius: 300px;
  flex-direction: row;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
}
.about-navlink2 {
  font-style: italic;
  font-family: "Courier New";
  font-weight: 700;
  text-decoration: none;
}
.about-container3 {
  flex: 0 0 auto;
  width: auto;
  height: 81px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.about-container4 {
  flex: 0 0 auto;
  width: auto;
  height: 81px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.about-container5 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 81px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.about-link2 {
  color: var(--dl-color-gray-black);
  height: 81px;
  display: flex;
  font-size: 70px;
  box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
  font-style: italic;
  text-align: center;
  font-family: "Courier New";
  font-weight: 700;
  border-style: ridge;
  border-width: 2px;
  border-radius: 300px;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
}
.about-text13 {
  font-size: 50px;
}
.about-link3 {
  font-style: normal;
  font-weight: 800;
  text-decoration: underline;
}
.about-container6 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 53px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
@media(max-width: 1600px) {
  .about-navlink1 {
    top: 63px;
    left: 1004px;
    position: static;
  }
  .about-button {
    top: 55px;
    right: 242px;
    position: static;
  }
  .about-link2 {
    top: 340px;
    left: 451px;
    width: 717px;
    height: 84px;
    position: absolute;
  }
}
@media(max-width: 479px) {
  .about-text10 {
    top: 0px;
    left: -7px;
    width: 152px;
    height: 85px;
    font-size: 30px;
    text-decoration: none;
  }
  .about-navlink1 {
    height: 56px;
    font-size: 35px;
    box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
    font-style: italic;
    font-family: Courier New;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
  }
  .about-container2 {
    height: 56px;
  }
  .about-button {
    top: 139px;
    left: 9px;
    width: 183px;
    height: 58px;
  }
  .about-navlink2 {
    font-size: 35px;
    font-family: Courier New;
  }
  .about-link2 {
    color: var(--dl-color-gray-black);
    right: 47px;
    width: 387px;
    bottom: 47px;
    height: 45px;
    position: static;
    font-size: 35px;
    box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
    font-style: italic;
    font-family: Courier New;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
  }
  .about-text13 {
    right: -122px;
    bottom: 107px;
    font-size: 50px;
  }
  .about-link3 {
    font-style: normal;
    font-weight: 800;
    text-decoration: underline;
  }
}
