.games-container {
  width: auto;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0.00%,rgb(81, 64, 223) 100.00%);
}
.games-container2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.games-container3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}

 bold  italic
Size
Vertical Size: 
7px
Horizontal Size: 
25px
Border
Border Radius: 
18px
Border Size: 
1px
 Box Shadow   /   inset
Vertical Position: 
4px
Horizontal Position: 
3px
Blur Radius: 
0px
Spread Radius: 
0px
 Text Shadow
Vertical Position: 
1px
Horizontal Position: 
0px
Blur Radius: 
0px
 prefix<a href="#" class="button">red</a>

.button {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.button:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.button:active {
	position:relative;
	top:1px;
}
