.games-container {
  width: auto;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0.00%,rgb(81, 64, 223) 100.00%);
}
.games-container2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.games-container3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}

.game-button {
	box-shadow: 3px 7px 5px -2px #000000;
	background-color:transparent;
	border-radius:28px;
	border:2px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Courier New;
	font-size:17px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1010e0;
}
.game-button:hover {
	background-color:transparent;
}
.game-button:active {
	position:relative;
	top:1px;
}
