.games-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0.00%,rgb(81, 64, 223) 100.00%);
}
