.games-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0.00%,rgb(81, 64, 223) 100.00%);
}
.games-container2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.games-container3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
@media(max-width: 1200px) {
  .games-button {
    font-size: 45px;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    font-style: normal;
    font-family: Courier New;
    font-weight: 700;
    border-style: double;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 0);
  }
