.gnext-pg-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.2) 0.00%,rgba(0, 0, 0, 0.8) 100.00%);
}
.gnext-pg-button {
  top: 56px;
  left: 1028px;
  height: 81px;
  display: flex;
  position: absolute;
  font-size: 70px;
  box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
  text-align: center;
  font-family: "Courier New";
  border-style: ridge;
  border-width: 2px;
  border-radius: 300px;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
}
.gnext-pg-navlink {
  font-style: italic;
  font-family: "Courier New";
  font-weight: 700;
  text-decoration: none;
}
.gnext-pg-link {
  display: contents;
}
.gnext-pg-text2 {
  top: 26px;
  left: 21px;
  position: absolute;
  font-size: 100px;
  border-color: var(--dl-color-gray-black);
  border-style: ridge;
  border-width: 5px;
  border-radius: 25px;
  text-decoration: none;
}
.gnext-pg-navlink1 {
  top: 57px;
  left: 766px;
  height: 81px;
  display: flex;
  position: absolute;
  font-size: 70px;
  box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
  font-style: italic;
  text-align: center;
  font-family: "Courier New";
  font-weight: 700;
  border-style: ridge;
  border-width: 2px;
  border-radius: 300px;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
}
.gnext-pg-button1 {
  top: 174px;
  left: 22px;
  height: 81px;
  display: flex;
  position: absolute;
  font-size: 70px;
  box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
  font-style: italic;
  text-align: center;
  font-family: "Courier New";
  font-weight: 700;
  border-style: ridge;
  border-width: 2px;
  border-radius: 300px;
  flex-direction: row;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
}
.gnext-pg-navlink2 {
  text-decoration: none;
}
.gnext-pg-link1 {
  top: 280px;
  left: 2px;
  color: var(--dl-color-gray-black);
  width: 709px;
  height: 81px;
  display: flex;
  position: absolute;
  font-size: 70px;
  box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
  font-style: italic;
  text-align: center;
  font-family: "Courier New";
  font-weight: 700;
  border-style: ridge;
  border-width: 2px;
  border-radius: 300px;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
}
.gnext-pg-link2 {
  top: 174px;
  left: 458px;
  height: 81px;
  display: flex;
  position: absolute;
  font-size: 70px;
  box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
  font-style: italic;
  text-align: center;
  font-family: "Courier New";
  font-weight: 700;
  border-style: ridge;
  border-width: 2px;
  border-radius: 300px;
  padding-right: 0px;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
}
@media(max-width: 479px) {
  .gnext-pg-text2 {
    font-size: 30px;
    text-decoration: none;
  }
  .gnext-pg-button1 {
    top: 100px;
    left: 2px;
    height: 50px;
  }
  .gnext-pg-navlink2 {
    font-size: 35px;
    text-decoration: none;
  }
  .gnext-pg-link1 {
    top: 159px;
    left: -1px;
    color: var(--dl-color-gray-black);
    width: 378px;
    height: 49px;
    font-size: 35px;
    box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
    font-style: italic;
    font-family: Courier New;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
  }
  .gnext-pg-link2 {
    top: 99px;
    left: 235px;
    width: 138px;
    height: 51px;
    font-size: 35px;
    box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
    font-style: italic;
    font-family: Courier New;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
  }
}
