.index-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to right, #f1f2b5 0%, #135058 100%);
}
 
.index-link1 {
  display: contents;
}
 
.index-text10 {
  top: 26px;
  left: 21px;
  position: absolute;
  font-size: 100px;
  border-color: var(--dl-color-gray-black);
  border-style: ridge;
  border-width: 5px;
  border-radius: 25px;
  text-decoration: none;
}
 
.index-text11 {
  top: 287px;
  left: 35px;
  position: absolute;
  font-size: 40px;
}
 
.index-link2 {
  top: 175px;
  left: var(--dl-layout-space-halfunit);
  color: var(--dl-color-gray-black);
  right: var(--dl-layout-space-halfunit);
  width: 712px;
  height: 81px;
  display: flex;
  position: absolute;
  font-size: 70px;
  box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
  font-style: italic;
  text-align: center;
  font-family: "Courier New";
  font-weight: 700;
  border-style: ridge;
  border-width: 2px;
  margin-right: var(--dl-layout-space-halfunit);
  border-radius: 300px;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
}
 
.index-text12 {
  top: 361px;
  left: 36px;
  position: absolute;
  font-size: 40px;
  font-weight: 800;
}
 
.index-link3 {
  text-decoration: underline;
}
 
.index-button1 {
  left: 5px;
  width: 335px;
  bottom: 35px;
  height: 81px;
  display: flex;
  position: absolute;
  font-size: 70px;
  box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
  text-align: center;
  font-family: "Courier New";
  border-style: ridge;
  border-width: 2px;
  border-radius: 300px;
  flex-direction: row;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
}
 
.index-navlink1 {
  font-style: italic;
  font-family: "Courier New";
  font-weight: 700;
  text-decoration: none;
}
 
.index-navlink2 {
  left: 18px;
  bottom: 139px;
  height: 81px;
  display: flex;
  position: absolute;
  font-size: 70px;
  box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
  font-style: italic;
  text-align: center;
  font-family: "Courier New";
  font-weight: 700;
  border-style: ridge;
  border-width: 2px;
  border-radius: 300px;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
}
 
.index-button2 {
  left: 370px;
  width: 407px;
  bottom: 33px;
  position: absolute;
  font-size: 70px;
  box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
  font-style: italic;
  font-family: "Courier New";
  font-weight: 700;
  margin-right: var(--dl-layout-space-twounits);
  border-radius: var(--dl-layout-radius-radius2);
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
}
 
.index-link4 {
  top: 42px;
  left: 778px;
  position: absolute;
  font-size: 400%;
  box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
  font-style: italic;
  font-family: "Courier New";
  font-weight: 700;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
}
 
.index-button3 {
  top: 189px;
  left: 1205px;
  width: 371px;
  height: 65px;
  display: flex;
  position: absolute;
  font-size: 300%;
  box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
  font-style: italic;
  text-align: center;
  font-family: "Courier New";
  font-weight: 700;
  border-style: ridge;
  border-width: 2px;
  border-radius: 300px;
  padding-right: 0px;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
}
 
.index-navlink3 {
  top: 340px;
  left: 334px;
  width: 307px;
  height: 108px;
  display: flex;
  position: absolute;
  font-size: 600%;
  box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
  font-style: italic;
  text-align: center;
  font-family: "Courier New";
  font-weight: 700;
  border-style: ridge;
  border-width: 2px;
  border-radius: 300px;
  padding-right: 0px;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
}
 
.index-button4 {
  top: 190px;
  left: 774px;
  width: 417px;
  height: 62px;
  display: flex;
  position: absolute;
  font-size: 300%;
  box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
  font-style: italic;
  text-align: center;
  font-family: "Courier New";
  font-weight: 700;
  border-style: ridge;
  border-width: 2px;
  border-radius: 300px;
  padding-right: 0px;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
}
 
@media(max-width: 1600px) {
  .index-text12 {
    font-size: 40px;
  }
  .index-link3 {
    text-decoration: underline;
  }
  .index-button2 {
    left: 333px;
    bottom: 126px;
  }
  .index-link4 {
    top: 660px;
    left: 340px;
    width: 884px;
    height: 83px;
    font-size: 500%;
    box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
    font-style: italic;
    font-family: Courier New;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
  }
  .index-button3 {
    top: 115px;
    left: 935px;
    width: 236px;
    height: 56px;
    font-size: 30px;
    box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
    font-style: italic;
    font-family: Courier New;
    font-weight: 700;
    padding-bottom: var(--dl-layout-space-halfunit);
    text-decoration: none;
    background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
  }
  .index-navlink3 {
    top: 652px;
    left: 6px;
    font-size: 500%;
    padding-bottom: var(--dl-layout-space-halfunit);
  }
  .index-button4 {
    top: 176px;
    left: 925px;
    width: 257px;
    height: 47px;
    font-size: 30px;
    box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
    font-style: italic;
    font-family: Courier New;
    font-weight: 700;
    padding-bottom: var(--dl-layout-space-halfunit);
    text-decoration: none;
    background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
  }
}
 
@media(max-width: 1200px) {
  .index-navlink2 {
    left: 14px;
    width: 281px;
    bottom: 137px;
    height: 86px;
  }
  .index-button3 {
    top: 641px;
    left: 24px;
  }
  .index-navlink3 {
    top: 274px;
    left: 407px;
  }
  .index-button4 {
    top: 699px;
    left: 20px;
    font-size: 170%;
    box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
    font-style: italic;
    font-family: Courier New;
    font-weight: 700;
    background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
  }
}
 
@media(max-width: 991px) {
  .index-link4 {
    top: 690px;
    left: 327px;
    width: 549px;
    height: 74px;
    font-size: 300%;
    box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
    font-style: italic;
    font-family: Courier New;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
  }
  .index-button3 {
    top: 287px;
    left: 380px;
    padding-bottom: 0px;
  }
  .index-navlink3 {
    top: 665px;
    left: 12px;
    padding-bottom: 0px;
  }
  .index-button4 {
    top: 362px;
    left: 376px;
    padding-bottom: 0px;
  }
}
 
@media(max-width: 767px) {
  .index-text10 {
    height: 83px;
    font-size: 65px;
    text-decoration: none;
  }
  .index-link2 {
    color: var(--dl-color-gray-black);
    width: 469px;
    height: 68px;
    font-size: 45px;
    box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
    font-style: italic;
    font-family: Courier New;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
  }
  .index-text12 {
    font-size: 35px;
  }
  .index-link3 {
    text-decoration: underline;
  }
  .index-navlink2 {
    left: -1px;
    bottom: 130px;
    position: absolute;
  }
  .index-button2 {
    left: 356px;
    width: 268px;
    bottom: 36px;
    height: 65px;
    position: absolute;
    font-size: 45px;
    box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
    font-style: italic;
    font-family: Courier New;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
  }
  .index-link4 {
    top: 346px;
    left: 153px;
  }
  .index-button3 {
    top: 104px;
    right: 27px;
  }
  .index-navlink3 {
    right: 178px;
    bottom: 127px;
  }
  .index-button4 {
    top: 164px;
    right: 52px;
  }
}
 
@media(max-width: 479px) {
  .index-text10 {
    width: 238px;
    height: 40px;
    font-size: 30px;
    text-decoration: none;
  }
  .index-text11 {
    font-size: 30px;
  }
  .index-link2 {
    top: 205px;
    left: 7px;
    color: var(--dl-color-gray-black);
    width: 380px;
    height: 51px;
    font-size: 35px;
    box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
    font-style: italic;
    font-family: Courier New;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
  }
  .index-text12 {
    font-size: 40px;
    font-weight: 800;
  }
  .index-link3 {
    text-decoration: underline;
  }
  .index-button1 {
    top: 139px;
    left: 9px;
    width: 183px;
    height: 58px;
  }
  .index-navlink1 {
    font-size: 35px;
    font-family: Courier New;
  }
  .index-navlink2 {
    top: 144px;
    left: 196px;
    width: 203px;
    height: 50px;
    font-size: 35px;
    box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
    font-style: italic;
    font-family: Courier New;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
  }
  .index-button2 {
    top: 80px;
    left: 20px;
    height: 56px;
    font-size: 35px;
    box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
    font-style: italic;
    font-family: Courier New;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
  }
  .index-link4 {
    top: 257px;
    left: 0px;
    height: 56px;
    font-size: 35px;
    box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
    font-style: italic;
    font-family: Courier New;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
  }
  .index-button3 {
    top: 80px;
    left: 20px;
    height: 56px;
    font-size: 35px;
    box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
    font-style: italic;
    font-family: Courier New;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
  }
  .index-navlink3 {
    top: 80px;
    left: 20px;
    height: 56px;
    font-size: 35px;
    box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
    font-style: italic;
    font-family: Courier New;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
  }
  .index-button4 {
    top: 80px;
    left: 20px;
    height: 56px;
    font-size: 35px;
    box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
    font-style: italic;
    font-family: Courier New;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
  }
}
