.index-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(270deg, rgb(252, 0, 255) 0.00%,rgb(0, 219, 222) 100.00%);
}
.index-button {
  top: 56px;
  right: 3px;
  height: 81px;
  display: flex;
  position: absolute;
  font-size: 70px;
  box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
  text-align: center;
  font-family: "Courier New";
  border-style: ridge;
  border-width: 2px;
  border-radius: 300px;
  flex-direction: row;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
}
.index-navlink {
  font-style: italic;
  font-family: "Courier New";
  font-weight: 700;
  text-decoration: none;
}
.index-navlink1 {
  top: 57px;
  left: 1012px;
  height: 81px;
  display: flex;
  position: absolute;
  font-size: 70px;
  box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
  font-style: italic;
  text-align: center;
  font-family: "Courier New";
  font-weight: 700;
  border-style: ridge;
  border-width: 2px;
  border-radius: 300px;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
}
.index-navlink2 {
  top: 56px;
  left: 754px;
  height: 81px;
  display: flex;
  position: absolute;
  font-size: 70px;
  box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
  font-style: italic;
  text-align: center;
  font-family: "Courier New";
  font-weight: 700;
  border-style: ridge;
  border-width: 2px;
  border-radius: 300px;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
}
.index-link {
  top: 175px;
  color: var(--dl-color-gray-black);
  right: 111px;
  height: 81px;
  display: flex;
  position: absolute;
  font-size: 70px;
  box-shadow: rgb(134, 0, 0) 5px 7px 15px 3px;
  font-style: italic;
  text-align: center;
  font-family: "Courier New";
  font-weight: 700;
  border-style: ridge;
  border-width: 2px;
  border-radius: 300px;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0%, rgb(53, 34, 172) 100%);
}
.index-link1 {
  display: contents;
}
.index-text02 {
  top: 26px;
  left: 21px;
  position: absolute;
  font-size: 100px;
  border-color: var(--dl-color-gray-black);
  border-style: ridge;
  border-width: 5px;
  border-radius: 25px;
  text-decoration: none;
}
.index-text03 {
  top: 287px;
  left: 35px;
  position: absolute;
  font-size: 40px;
}
.index-text04 {
  top: 361px;
  left: 36px;
  position: absolute;
  font-size: 40px;
  font-weight: 800;
}
.index-link2 {
  text-decoration: underline;
}
@media(max-width: 1200px) {
  .index-button {
    top: 272px;
    right: 31px;
  }
  .index-navlink2 {
    top: 348px;
    left: 133px;
    height: 89px;
  }
  .index-link {
    top: 164px;
    right: 22px;
  }
  .index-text03 {
    top: 520px;
    left: 34px;
  }
  .index-text04 {
    top: 592px;
    left: 28px;
  }
}
