.privacy-policy-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(45deg, rgb(205, 253, 253) 0.00%,rgb(205, 253, 253) 0.00%,rgb(32, 110, 110) 100.00%);
}
.privacy-policy-link {
  display: contents;
}
.privacy-policy-text {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 558px;
  height: 78px;
  margin: auto;
  position: absolute;
  font-size: 75px;
  border-color: var(--dl-color-gray-black);
  border-style: ridge;
  border-width: 5px;
  border-radius: 25px;
  text-decoration: none;
}
@media(max-width: 479px) {
  .privacy-policy-text {
    top: 7px;
    left: 255px;
    right: var(--dl-space-space-unit);
    width: 227px;
    height: 38px;
    font-size: 30px;
    text-decoration: none;
  }
}
