.eindex-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50 100%);
}
.eindex-text10 {
  font-size: 50px;
  border-color: var(--dl-color-gray-black);
  border-style: ridge;
  border-width: 5px;
}
.eindex-link1 {
  top: 161px;
  left: 215px;
  margin: auto;
  position: absolute;
  font-size: 50px;
  border-color: var(--dl-color-gray-black);
  border-style: ridge;
  border-width: 5px;
  text-decoration: none;
}
.eindex-link2 {
  top: 238px;
  left: 27px;
  margin: auto;
  position: absolute;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  border-color: var(--dl-color-gray-black);
  border-style: ridge;
  border-width: 5px;
  text-decoration: none;
}
.eindex-link3 {
  top: 161px;
  left: 28px;
  margin: auto;
  position: absolute;
  font-size: 50px;
  border-color: var(--dl-color-gray-black);
  border-style: ridge;
  border-width: 5px;
  text-decoration: none;
}
.eindex-container2 {
  width: 552px;
  height: 364px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.eindex-navlink1 {
  font-size: 45px;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 3px;
  text-decoration: none;
  background-color: transparent;
}
.eindex-navlink2 {
  font-size: 45px;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 3px;
  text-decoration: none;
  background-color: transparent;
}
.eindex-link4 {
  font-size: 45px;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 3px;
  text-decoration: none;
  background-color: transparent;
}
.eindex-link5 {
  font-size: 30px;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 3px;
  text-decoration: none;
  background-color: transparent;
}
.eindex-text15 {
  font-size: 45px;
}
.eindex-link6 {
  font-size: 45px;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 3px;
  text-decoration: none;
  background-color: transparent;
}
.eindex-text18 {
  font-size: 30px;
}
.eindex-link7 {
  display: contents;
}
.eindex-text19 {
  top: 26px;
  left: 21px;
  position: absolute;
  font-size: 100px;
  border-color: var(--dl-color-gray-black);
  border-style: ridge;
  border-width: 5px;
  border-radius: 25px;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .eindex-text10 {
    top: 225px;
    left: 643px;
  }
  .eindex-link2 {
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
  }
}
@media(max-width: 1200px) {
  .eindex-link2 {
    top: 161px;
    left: 375px;
  }
}
@media(max-width: 767px) {
  .eindex-link2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
  }
  .eindex-text19 {
    top: 83px;
    left: 16px;
    font-size: 50px;
    text-decoration: none;
  }
}
@media(max-width: 479px) {
  .eindex-link2 {
    top: 110px;
    right: 92px;
    font-size: 30px;
    font-weight: 700;
  }
  .eindex-link6 {
    width: 479px;
    height: 105px;
  }
  .eindex-text18 {
    top: 744px;
    right: -38px;
    position: absolute;
  }
  .eindex-text19 {
    right: -43px;
    width: 154px;
    height: 28px;
    font-size: 15px;
    text-decoration: none;
  }
}
